# Git aliases
alias gl="git log"
alias ga="git add"
alias gc="git commit"
alias gch="git checkout"
alias gf="git fetch"
alias gp="git push"
alias gr="git rebase"
alias gb="git branch"

alias gri="git rebase -i"
alias gbm="git branch -m"
alias gcm="git commit -m"
alias gbc="git branch | cat"
alias gfp="git fetch -p"

alias gcob="gco -b"

# Directory aliases
alias ws="cd ~/Workspace"
alias szh="source ~/.zshrc"
alias v="vim"
