[user]
    name = Matt Piercy
    email = mpiercy@gmail.com
[credential]
    helper = osxkeychain
[push]
    default = simple
[alias]
    fixup = commit --amend -C HEAD
[url "git@github.com:"]
	insteadOf = https://github.com/
